trailing linebreak in `privateKeyArmored`, `publicKeyArmored` and `revocationCertificate` blocks

First of all, thanks for this great project and the time invested! :+1: 

openpgpjs returns a trailing linebreak (\n) at the end of each above mentioned blocks, e.g. 

```
...
-----END PGP PUBLIC KEY BLOCK-----\n
```

The last line break should not be returned as it is superfluous (and maybe it cloud break some regex validations :wink: ). 

This behavior is reproducible at pre-release versions `5.0.0-1` and `5.0.0-2` (i've used both with nodejs) by following the instructions to [generate-new-key-pair](https://github.com/openpgpjs/openpgpjs#generate-new-key-pair)



Hey @CodeAdminDe :wave: Thanks for the report. However, it's not actually totally obvious to me from the spec that this is how we should behave - see [RFC4880 section 6.2 (Forming ASCII Armor)](https://tools.ietf.org/html/rfc4880#section-6.2). From my reading, the line endings are to be considered as part of the line, so our current behavior is correct. But let me know if you disagree.

(FWIW, v4 also returned a newline here, but we returned `\r\n` instead of `\n` - the spec doesn't seem to specify which kind you have to return, so we decided to move to web-platform-native line endings.)

thanks for linking the RFC. Since it's specified that the Armor Tail Line is to be treated exactly like the Armor Header Line, it can indeed be interpreted that way.

My personal feeling is that it would be cleaner if the Armor Tail Line did not end with a line break. However, if you follow the RFC exactly, the current implementation is perfectly correct.

And finally, it's always possible to use the `trim()` function if needed. :wink:
Btw... do you see any difficulty in this that I am overlooking, other than the non-conformity to the RFC?

I don't see any issue with trimming the result. I can't imagine that any OpenPGP implementation requires this newline. However, as an OpenPGP implementation ourselves we have to be a bit conservative and take the spec as reference, so I'll close this if you don't mind :)