Unknown Armor Headers should not lead to abort processing

In the course of Autocrypt, we are defining new headers for ASCII Armored messages (e.g for the Autocrypt Setup Message). The current implementation of openpgpjs I tried (v2.5.4) however breaks at this point.

The comment in the code above verifyHeaders() is:

> _Verify armored headers. RFC4880, section 6.3: "OpenPGP should consider improperly formatted Armor Headers to be corruption of the ASCII Armor."_


However, the sentence just following in RFC 4880 says: 

> "Unknown keys should be reported to the user, but OpenPGP should continue to process the message."

An unknown header is not improperly formatted just because it is unknown. As long as the header is compliant to the specification, it should not lead to throwing an error.

PS. In case you wonder why I'm reporting this at all: I integrated openpgpjs in Enigmail, currently only for processing of symmetrically encrypted messages and for analyzing key data before import.

You are correct, and we can fix this. A PR would be great, if not, I'll put it on my list.

I can create a PR, that shouldn't be too difficult.

PR created

Release as 2.5.9